*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: lightseagreen;
    width: 100%;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: gray;
    color: white;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    padding: 20px;
}
.elem{
    width: 30%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-sub{
    width: 10%;
    height: 40px;
    background-color: rgb(87, 110, 87);
}
.hitval{
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    background-color: yellow;
    color: black;
    font-size: 2rem;
}
.timebox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; 
    width: 500px;
    height: 500px;
    background-color: rebeccapurple;
    align-items: center;
}
