*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 300px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#add,#remove{
    padding: 10px;
    font-size: 25px;
    width: 120px;
    height: 60px;
}
#remove:active{
    background-color: black;
    color: white;
}
#add:active{
    background-color: black;
    color: white;
}