*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.box{
    width:600px ;
    min-height: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
#item{
    padding: 10px;
    font-size: 20px;
    width: 100%;
    display: block;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 5px gray;
}
#to-do-box{
    margin-top:20px;
    list-style: none;
}
#to-do-box li{
    background-color: #240303;
    color: white;
    padding: 10px;
    border-radius: 2px;
    position:relative;
    padding-right: 25px;
    margin-top: 10px;
    user-select: none;
}
#to-do-box li i{
    position:absolute;
    right: 10px;
    top: 10px;
}
.done{
    text-decoration: line-through;
    color: black;
    background-color: #a62c2cc2  !important;
}